body{
	font-family: "Lato";
	font-weight: 400;
}

/*
 * Buttons
 */

#user_delete,
#user_update,
#reset_password{
	display: inline-block;
	vertical-align: top;
	width: auto;
}

/*
 * Navigation
 */

ul li.dropdown > a{
	text-transform: capitalize;
	font-weight: 600;
}

/*Override Bootstrap Default CSS*/

.navbar {
	min-height: 104px;
}

.navbar .navbar-right{
	margin-top: 25px;
}

.sidebar {
	margin-top: 104px;
}

